@import "../common/reset.css";

@font-face {
  font-family: "WavvePADO-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  font-family: "WavvePADO-Regular";
  font-size: 1.6rem;
  background-color: #f8f9fa;
  letter-spacing: 0.1rem;
}

button,
input {
  font-family: "WavvePADO-Regular";
  border: none;
  font-size: inherit;
}

button {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-size: 1.6rem;
  font-family: inherit;
  padding: 6rem;

  gap: 4rem;
}

/* HEADER */

#header .title {
  font-size: 4rem;
  word-break: keep-all;
}

.title .book-icon {
  width: 3.5rem;
  vertical-align: bottom;
  margin-right: 0.5rem;
}

/* MAIN */

.notice {
  background-color: #cde8e5;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  letter-spacing: 0.4px;
  text-align: center;
}

#form-section {
  margin-top: 4rem;
}

#form-section .book-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.book-form .book-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100vh;
  background-color: transparent;
}

l .book-form .book-info.title {
}

.book-info .book-label {
  font-size: 2rem;
  paddng: 1rem;
  text-align: left;
}

.book-info .book-input {
  padding: 1rem;
  font-family: inherit;
  border: 2px solid #7ab2b2;
  border-radius: 0.2rem;
}

.book-info .book-input:focus {
  outline-color: #4d869c;
}

.book-form .book-info.title {
}

.book-form .book-info.author {
}

.book-info.title {
}

.book-info.author {
}

.register-btn {
}

.register-btn .submit-btn {
  width: 100%;
  padding: 1rem 2rem;
  margin-top: 1rem;
  font-size: 1.8rem;
  border: 2.5px solid #cde8e5;
  border-radius: 0.3rem;
  background-color: #eef7ff;
  cursor: pointer;
  color: #000;
}

#book-list-section {
  margin-top: 2.5rem;
}

.book-list-wrapper {
}

.book-list-wrapper .book-list-items {
}

.book-list-items > li:first-child {
  color: #4d869c;
  border-bottom: 2px solid #4d869c;
}

.book-list-items .book-list-item {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid black;
  align-items: center;
}

.book-list-item .title-item {
  flex-basis: 50%;
}

.book-list-item .author-item {
  flex-basis: 45%;
}

.book-list-item .delete-btn {
  flex-basis: 5%;
  background-color: transparent;
}

.delete-btn::after {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;

  background-image: url("./assets/xmark.svg");
  background-repeat: no-repeat;
}
