@import "../common/reset.css";

:root {
  --white-color: rgba(255, 255, 255, 0.8);
  --gray-color: #b3bbc5;
  --blue-color: #4581e9;
  --green-color: #00b874;
  --greenblue-color: #18a0b8;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.6rem;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}

/* 큰 section 공통스타일 */
.section {
  padding: 2rem;
  border-radius: 0.4rem;
  background-color: var(--white-color);
}

/* HEADER */

#header {
  background-color: #0f172a1a;
}

#header .title {
  width: 100%;
  padding: 1.8rem;
  background-color: transparent;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  border: 1px solid #e5e7eb;
}

#header .title::before {
  content: "";
  display: inline-block;
  margin: -0.3rem 1rem;
  width: 3rem;
  height: 3rem;

  vertical-align: bottom;
  background-image: url("./assets/github_cat.svg");
  background-repeat: no-repeat;
}

/* MAIN */

#main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 2.5rem;
}

#main .notice {
  padding: 1.5rem 2rem;
  background-color: #0f172a1a;
  text-align: left;

  border-radius: 0.4rem;
}

.sec-search {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.sec-search .search-title {
  font-size: 3.6rem;
  font-weight: 800;
}

.sec-search .search-title::after {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin: 0 1rem;

  vertical-align: bottom;
  background-image: url("./assets/search.svg");
  background-repeat: no-repeat;
}

.sec-search .search-input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  outline-color: #9face6;
}

/* 유저 기본 정보 */

.user-profile {
  display: flex;
}

.user-profile .user-profile-img {
  flex-basis: 30rem;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-profile .profile-btn {
  width: 70%;
  padding: 1rem 2rem;
  background-color: var(--blue-color);
  border: none;
  border-radius: 4rem;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
}

.user-profile .user-info {
  flex-basis: 100%;
  height: 100%;
}

.user-info .user-stats-list {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
}

.user-stats-list .stats-badge {
  padding: 0.8rem 1.3rem;
  border-radius: 0.3rem;
  color: #fff;
}

.stats-badge.public-repos {
  background-color: var(--blue-color);
}
.stats-badge.gists {
  background-color: var(--gray-color);
}
.stats-badge.followers {
  background-color: var(--green-color);
}
.stats-badge.followings {
  background-color: var(--greenblue-color);
}

.user-info .user-details-list {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  height: 100%;

  background-color: transparent;
  border: 1px solid var(--gray-color);
  border-radius: 0.4rem;
}

.user-details-list .user-detail {
  padding: 2rem;
}

.user-details-list .user-detail:not(:last-child) {
  border-bottom: 1px solid var(--gray-color);
}

.user-detail .company {
}
.user-detail .website-link {
}

.user-detail .location {
}

.user-detail .join-date {
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7rem;
  padding: 2rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.1rem;

  background-color: #e5e7eb;
}
